*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}


/*****************************************************Header-nav-section CSS***********************************************************************/
nav{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 18%;
	background:transparent;
}
.logo{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
}
.navbar{
	display: flex;
}
.navbar a{
	color: #ffffff;
	font-size:1.1rem;
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.navbar a:hover{
	color:#E9BD8C;
}
section{
	padding: 80px 10%;
}
.home{
	width: 100%;
	height: 100vh;
	background: url(../img/BG.png);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: start;
}
.home-text h1{
	font-size: 6rem;
	line-height: 1.2;
	color: white;
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.home-text h3{
	color:#E9BD8C ;
	margin-left: 10px;
}
.home-text a{
	color: #ffffff;
	margin-left: 10px;
}
.home-text p{
	color: #ffffffbf;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 50px;
}
.home-btn{
	display: inline-block;
	font-size: 16px;
	padding: 20px 30px;
	background: brown;
	color: white;
	border-radius: 4px;
	transition: ease .40s;
}
.home-btn:hover{
	background: rgb(255, 106, 106);
	transform: scale(1.1);
}
nav.sticky{
	background:url(/img/BG.png);
	padding: 10px 18%;
	box-shadow: rgba(245, 246, 249, 0.1) 0px 10px 10px -10px;
}
.sticky .navbar a{
	color: white;
} 
.sticky .navbar a:hover{
	color:#E9BD8C;
}
.text h2{
	font-size: white;
	line-height: 1.1;
}
#asideitem{
	background-color: #ffffff;
	color: black;
	padding: 5rem;
	display: block;
	text-align: center;
	line-height: 2rem;
	flex-direction: row;
}
#asideitem h1{
	color: brown;
	font-family: 'Sansita Swashed';
	font-size:xx-large;
	line-height: 1.1;
	
}
.newsletter{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	grid-gap: 3rem;
}
.newsletter form{
	max-width: 100%;
	width: 450px;
	position: relative;
}
.newsletter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 20px 150px 20px 30px;
	box-shadow: 5px 10px 20px  brown;
	outline: none;
	border: none;
	border-radius: 15px;
}
.newsletter form input:last-child{
	display: inline-block;
	position: absolute;
	outline: none;
	border: none;
	padding: 14px 30px;
	border-radius: 15px;
	background-color:brown;
	color: white;
	top: 6px;
	right: 6px;
	cursor: pointer;
}



/**********************************************************************Footer CSS*************************************************************/ 
#footertop{
	background: url(/img/footer.png);
	background-size: cover;
	background-repeat: no-repeat;
}
footer{
	padding: 80px 18%;
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.maintop{
	display: flex;
	flex-wrap: wrap;
	
	margin-bottom: 3rem;
}

.list{
	width: 25%;
	
}
.first-list h4{
	font-size: 21px;
	color:#E9BD8C ;
	position: relative;
}
.list h4, .list-food h4{
	color: #E9BD8C;
	font-size: 2rem;
}
.list-food{
	margin-left: 10rem;
}
.list ul li a{
	color: white;
	font-size:1.1rem;
	display: block;
	transition: .3s;
	padding:10px;

}

.first-list{
	display: inline-flex;
	align-items: center;
	
	
}
.first-list h4{
	padding-right: 30px;
}

.first-list .social a{
	height: 50px;
	width:50px;
	background: #E9BD8C;
	color: black;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 39px;
	border-radius: 15px;
	transition: .3s;
	margin-right: 20px;
	
}
.first-list  .social{
	margin-left: 40rem;
}
hr{
	border: none;
	background-color: rgba(234, 181, 133, 0.3);
	color: #E9BD8C;
	height: 2px;
	width:100%;
	margin: 20px auto;
}
.listfood {
	display: flex;
	align-items: center;
	margin-top: 10px;
	
}
.listfood span{
	color: #E9BD8C;
}
.food-text{
	margin-left: 20px;
}
.food-text p{
	color: white;
}

.social {
	display : flex ; 
	align-items:center;
}
.first-list .social a:hover{
	transform: scale(1.1);
}
.end-text{
	text-align: center;
	padding-top: 90px;
}
.end-text p{
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
}
/****************************************************Menu CSS**********************************************************************/
/* header{
	background-image: url(/img/BG.png);
} */
#nav-menu{
	background-image: url(/img/BG.png);
	background-position: right;
}
#home-menu{
	width: 100%;
	margin-top: 7rem;
	
}

.home-text h2{
	font-size: 3rem;
	line-height: 1.2;
	color: brown;
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/********************cards Top Products**********************/
.package-content{
	display: grid;
	grid-template-columns: repeat(3,400px);
	grid-gap: 1rem;
	align-items: center;
	
}
.box{
	background-image: url(../img/bg-food.png);
	width: calc(95/3);
	min-height: 400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	cursor: pointer;
	
}
.box img{
	width: 100%;
	height: 70%;
	padding: 5rem;
	padding-top: 0;
	padding-bottom: 0;
}
.detail-food img{
	width: 50%;
	margin-left: 5rem;
	padding-bottom: 20px;
}
.detail-food{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.detail-food h3{
	font-size: 20px;
	font-weight: 600;
	color: white;
	padding-left: 30px;
} 

.dest-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.location {
	color: #ffffff;
	margin-left: 1rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: row;
	
}
.location p{
	padding-left: 15px;
	font-size: large;
}
.location button {
	background-color: brown;
	border-radius: 5px;
	color: white;
	border: none;
	width: 70px;
	height: 39px;
	font-size: medium;
	margin-left: 8rem;
	transition: ease.5s;
	
}
.location button:hover{
	transform: scale(1.2);
}

/**************************************************************Entrées******************************/
.boxentrees{
	background-color:rgb(147 60 36 /49% );
	
}


.Entrées-text h2{
	margin-top: 5rem;
}
.Entrées{
	background-color: #E9BD8C;
}
.Entrées a{
	width: 100%;
	height: auto;
}