*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}
/*****************************************************Header-nav-section CSS***********************************************************************/
nav{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 30px 18%;
	background:transparent;
}
.logo{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
}
.navbar{
	display: flex;
}
.navbar a{
	color: #ffffff;
	font-size:1.1rem;
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.navbar a:hover{
	color:#E9BD8C;
}
section{
	padding: 80px 10%;
}
.home{
	width: 100%;
	height: 100vh;
	background: url(../img/BG.png);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: start;
}
.home-text h1{
	font-size: 6rem;
	line-height: 1.2;
	color: white;
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.home-text h3{
	color:#E9BD8C ;
	margin-left: 10px;
}
.home-text a{
	color: #ffffff;
	margin-left: 10px;
}
.home-text p{
	color: #ffffffbf;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 50px;
}
.home-btn{
	display: inline-block;
	font-size: 16px;
	padding: 15px 30px;
	background: brown;
	color: white;
	border-radius: 4px;
	transition: ease .40s;
}
.home-btn:hover{
	background: rgb(255, 106, 106);
	transform: scale(1.1);
}
nav.sticky{
	background:url(/img/BG.png);
	padding: 10px 18%;
	box-shadow: rgba(245, 246, 249, 0.1) 0px 10px 10px -10px;
}

/* .sticky .navbar a:hover{
	color:#E9BD8C;
} */
.text h2{
	font-size: white;
	line-height: 1.1;
}
#asideitem{
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	padding: 5rem;
	display: block;
	text-align: center;
	line-height: 1.5rem;
	flex-direction: row;
}
#asideitem p{
	opacity: 70%;
}
#asideitem h1{
	color: brown;
	font-family: 'Sansita Swashed';
	font-size:xx-large;
	line-height: 1.5;
	letter-spacing: 3px;
	padding-bottom: 10px;
}
.newsletter{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	grid-gap: 3rem;
}
.newsletter form{
	max-width: 100%;
	width: 450px;
	position: relative;
}
.newsletter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 20px 150px 20px 30px;
	box-shadow: 5px 10px 20px  brown;
	outline: none;
	border: none;
	border-radius: 15px;
}
.newsletter form input:last-child{
	display: inline-block;
	position: absolute;
	outline: none;
	border: none;
	padding: 14px 30px;
	border-radius: 15px;
	background-color:brown;
	color: white;
	top: 6px;
	right: 6px;
	cursor: pointer;
}
.newsletter form input:last-child:hover{
	background-color: rgb(210, 81, 81);
	cursor: pointer;
}
.news-text h2{
	font-size: xx-large;
}

/**********************************************************************Footer CSS*************************************************************/ 
#footertop{
	background: url(/img/footer.png);
	background-size: cover;
	background-repeat: no-repeat;
}
footer{
	padding: 80px 12%;
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.maintop{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3rem;
}

.list{
	width: 25%;
	
}
.first-list h4{
	font-size: 21px;
	color:#E9BD8C ;
	position: relative;
}
.list h4, .list-food h4{
	color: #E9BD8C;
	font-size: 2rem;
}
.list-food{
	margin-left: 10rem;
}
.list ul li a{
	color: white;
	font-size:1.1rem;
	display: block;
	transition: .3s;
	padding:10px;

}

.first-list{
	display: inline-flex;
	align-items: center;
	
	
}
.first-list h4{
	padding-right: 30px;
}

.first-list .social a{
	height: 50px;
	width:50px;
	background: #E9BD8C;
	color: black;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 39px;
	border-radius: 15px;
	transition: .3s;
	margin-right: 20px;
	
}
.first-list  .social{
	margin-left: 40rem;
}
hr{
	border: none;
	background-color: rgba(234, 181, 133, 0.3);
	color: #E9BD8C;
	height: 2px;
	width:100%;
	margin: 20px auto;
}
.listfood {
	display: flex;
	align-items: center;
	margin-top: 10px;
	
}
.listfood span{
	color: #E9BD8C;
}
.food-text{
	margin-left: 20px;
}
.food-text p{
	color: white;
}

.social {
	display : flex ; 
	align-items:center;
}
.first-list .social a:hover{
	transform: scale(1.1);
}
.end-text{
	text-align: center;
	padding-top: 90px;
}
.end-text p{
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
}
/****************************************************Menu CSS**********************************************************************/
/* header{
	background-image: url(/img/BG.png);
} */
#nav-menu{
	background-image: url(/img/BG.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity:95%;
	background-position: right;
}
#nav-menu {
	display: flex;
	justify-content: start;
	
}
#nav-menu .navbar{
	margin-left: 15rem;
}

#home-menu{
	width: 100%;
	margin-top: 7rem;
	
}

.home-text h2{
	font-size: 3rem;
	line-height: 1.2;
	color: brown;
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/********************cards Top Products**********************/
.package-content{
	display: grid;
	grid-template-columns: repeat(3,400px);
	grid-gap: 1rem;
	align-items: center;
	
}
.box{
	background-image: url(../img/bg-food.png);
	width: calc(95/3);
	min-height: 400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	cursor: pointer;
	
}
.box img{
	width: 100%;
	height: 70%;
	padding: 5rem;
	padding-top: 0px;
	padding-bottom: 0;
}
.detail-food img{
	width: 50%;
	margin-left: 5rem;
	padding-bottom: 20px;
}
.detail-food{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.detail-food h3{
	font-size: 20px;
	font-weight: 600;
	color: white;
	padding-left: 30px;
} 

.dest-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.location {
	color: #ffffff;
	margin-left: 1rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: row;
	
}
.location p{
	padding-left: 15px;
	font-size: large;
}
.location button {
	background-color: brown;
	border-radius: 5px;
	color: white;
	border: none;
	width: 70px;
	height: 39px;
	font-size: medium;
	margin-left: 8rem;
	transition: ease.5s;
	
}
.location button:hover{
	transform: scale(1.2);
}

/**************************************************************Entrées******************************/
.boxentrees{
	background-color:rgb(147 60 36 /49% );
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	padding: 30px;
	border-radius: 5px;
}
.package-content2{
	display: flex;
	gap:20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#boxeentre2{
	background-color:rgb(147 60 36 /49% );
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	padding: 30px;
	border-radius: 5px;
	
}

.Entrées-text h2{
	margin-top: 5rem;
	font-size: 3rem;
	line-height: 1.2;
	color: brown;
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
 .detail-entree{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	color: white;
}
.detail-entree img{
	width: 15%;
	background-color: rgb(147 60 36 /49% );
	border: 1px solid black;
	border-radius: 50px;
	padding: 0px;
}
.detail-entree p{
	text-decoration: underline;
}
.detail-entree button{
	padding:10px;
	background-color: brown;
	border-radius: 5px;
	margin-left: 2rem;
	width: 4rem;
	border: none;
	color: white;
}

/***************************************Piza*************************************************/
.parent-pizaa{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	padding: 50px;
	border-radius: 5px;
}
.package-content3{
	display: flex;
	gap:20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.boxpizza{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 20px;
	border-radius: 15px ;
	background-color: rgb(219, 219, 219);
	transition: ease-in .3s;
}
.boxpizza:hover{
	transform: scale(1.1);
	background-color: rgb(219, 72, 72);
}

.boxpizza p{
	text-decoration: underline;
	font-size: larger;
}
.boxpizza button{
	font-size: larger;
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	color: white;
	background-color: black;
	border: none;
}
/***************************************Explore More**********************************/
#explore {
    margin-top: 5rem;
}

.tab {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.tab button.active {
    background-color: #ffffff;
}

.tab button {
    padding-left: 40px;
    background-color: white;
    border: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: large;
    font-weight: bold;
    color: rgb(87, 87, 87);
    line-height: 3rem;
}

.tab button:hover {
    text-decoration: underline brown 3px;
}

.tabcontent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    display: none;
}

.tabcontent.active {
    display: flex; 
}

.tabcontent img {
    max-width: calc(33.33% - 20px); 
    width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
	border-radius: 15px;
}




/***********************************************Featured************************************************/

#Featured{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap:20px;
	
}

/**********************************Contact**********************************************/
#nav-contact {
	background-image: url(/img/BG.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity:95%;
	width: 100%;
	background-position: right;
}
#nav-contact {
	display: flex;
	justify-content: start;
	
}
#nav-contact  .navbar{
	margin-left: 15rem;
}
.contact-text h2{
	font-size: 3rem;
	line-height: 1.2;
	color: rgb(0, 0, 0);
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	margin-bottom: 50px;
	text-align: center;
	margin-top: 3rem;
}
#contact{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#info{
	width: 360px;
	height: 49px;
	line-height: 1.3rem;
}
#form{
	border: 1px solid rgb(185, 185, 185);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 1px 5px 8px 1px rgb(128, 50, 50);
}

#form form input{
	border: none;
	border-radius: 5px;
	background-color: hsl(0, 0%, 91%);
	margin: 10px;
	padding: 10px;
	width: 222px;
	height: 40px;
	outline: none;
}
#form form input ::placeholder{
	padding-left: 20px;
}
#form form textarea{
	border: none;
	border-radius: 5px;
	background-color: hsl(0, 0%, 91%);
	margin: 10px;
	padding: 10px;
	width: 222px;
	height: 150px;
	outline: none;
}
#form form button{
	background-color: brown;
	border-radius: 25px;
	border: none;
	width: 465px;
	height: 45px;
	color: white;
	margin-top: 30px;
	margin-left: 10px;
}
#list-info .c1{
	display: flex;
	flex-direction: row;
	
}
.c1 p{
	margin-left: 15px;
}
#list-info{
	margin-top: 30px;;
}
#form form button:hover{
	background-color: rgb(200, 88, 88);
}


/*************************A propos***************************************************/

#apropos-nav{
	background-image: url(/img/BG.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity:95%;
	width: 100%;
	background-position: right;
}
#apropos-nav{
	display: flex;
	justify-content: start;
	
}
#apropos-nav .navbar{
	margin-left: 15rem;
}

#about{
	background-image: url(/img/about.png);
	background-repeat: no-repeat;
	background-size:cover;
	margin-top: 8.9rem;
	
}
.apropos-text{
	text-align: center;
	width: 100%;
	padding-top: 10rem;
	color: white;
	line-height: 1.5;
	
}
.apropos-text p{
	opacity: 70%;
}
.apropos-text h2{
	font-size: 3rem;
	color: white;
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	
}

.apropos-text button{	
	color: white;
font-size: larger;
	margin-bottom: 7rem;
	border: none;
	background-color: brown;
	padding: 15px;
	padding-left:40px;
	padding-right: 40px;
	margin-top: 30px;
	border-top-left-radius:8px ;
	border-bottom-left-radius:8px ;
}
.apropos-text button:hover{
	background-color: rgb(255, 103, 103);
}
.info-about{
	display: flex;

}
#parent{
	margin-bottom: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#parent h2{
	font-size: 3rem;
	color: brown;
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	text-align: center;
	margin-bottom: 40px;
}
#parent h3{
	margin-top: 5rem;
	margin-bottom: 5rem;
	font-size: 3rem;
	color: brown;
    font-family: 'Sansita Swashed';
	letter-spacing: 4px;
	text-align: center;
	margin-bottom: 40
}
#parent h2{
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.info-about p{
	color: rgb(43, 40, 40);
	font-family: 'Sansation Light';
	font-size: xx-large;
	line-height: 2rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
	
}
.info-about img{
	width: 658px;
	padding-left: 20px;
	padding-right: 20px;
}